// Custom styles.
.footer-inner {color: #36648B;}

.sidebar {
            background:#F5F5F5!important;
            color: #F5F5F5!important;
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #36648B;}
}

.body{   
        background:rgba(#F0FFFF, 60%);
        background-size:none;
        background-repeat:repeat;
        background-attachment:scroll;
}

.header {
          background:url(http://deliyang.github.io//assets/images/background3.jpg) none repeat scroll !important;
}

.site-title {
    font-size: 28px !important;
    font-family: 'Lato' !important;
}

.main-inner{
	opacity: 0.8;
}

.header-inner{
	opacity: 0.8;
	z-index: 10;
}
