// Custom styles.
.footer-inner {color: #36648B;}

.sidebar {
            background:#F5F5F5!important;
            color: #F5F5F5!important;
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #36648B;}
}
