// Custom styles.
.footer-inner {color: #36648B;}

.sidebar {
            background:#F5F5F5!important;
            color: #F5F5F5!important;
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #36648B;}
}

.body{   
        rgba(#F0FFFF, 50%) !important none repeat scroll;
}

.header {
          background:url(http://deliyang.github.io//assets/images/background3.jpg) none repeat scroll !important;
}
