// Custom styles.
.footer-inner {color: #36648B;}

.sidebar {
            background:#F5F5F5!important;
            color: #F5F5F5!important;
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #36648B;}
}

.body{   
        background:rgba(#F0FFFF, 60%);
        background-size:none;
        background-repeat:repeat;
        background-attachment:scroll;
}

.header {
          background:url(/assets/images/background3.jpg) none repeat scroll !important;
}

.site-title {
    font-size: 28px !important;
    font-family: 'Lato' !important;
}

.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

span#inline-grey {
display:inline;
padding:.2em .6em .3em;
line-height:1;
color:#000000;
text-align:center;
white-space:nowrap;
vertical-align:baseline;
border-radius:0;
background-color: #F5F5F5!important;
}
