// Custom styles.
.footer-inner {color: #36648B;}

.sidebar {
            background:url"/assets/images/background3.jpg";
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #63B8FF;}
}
